<mat-card class="mt-3">
    <a href="#" style="text-decoration: none; color: white" [routerLink]="['/memories', person._id]">
        <div class="card-container">
            <mat-card-title class="name"> {{person.firstName}} {{person.lastName}} </mat-card-title>
            <mat-card-title> <img style="max-width: 150px;" src="../../../assets/img/{{person.imgUrl}}" alt=""> </mat-card-title>
        </div>
    </a>
    <mat-card-actions>
        <button (click)="onEdit()" class="btn btn-light m-1">EDIT</button>
        <button (click)="onDelete()" class="btn btn-danger m-1">DELETE</button>
      </mat-card-actions>
</mat-card>
